[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "antitrust"]
	path = antitrust
	url = https://github.com/luciu5/antitrust
[submodule "competitiontoolbox"]
	path = competitiontoolbox
	url = https://github.com/luciu5/competitiontoolbox
[submodule "trade"]
	path = trade
	url = https://github.com/luciu5/trade
